<a href="/home">Home</a>
<span>/</span>
<a href="/account/organizations">Manage organizations</a>
<span>/</span>
<a href="/account/organizations/memberships">Memberships</a>
<a href="/account/organizations/organizations">My organizations</a>
<a href="/account/organizations/create-organization">Create organization</a>