<a href="/home">Home</a>
<a href="/account/organizations/organizations">My organizations</a>
<a href="/account/organizations/organization?organizationid=${organization.organizationid}">Organization</a>
<a href="/account/organizations/memberships?organizationid=${organization.organizationid}">Memberships</a>
<a href="/account/organizations/invitations?organizationid=${organization.organizationid}">Invitations</a>
<a href="/account/organizations/edit-organization?organizationid=${organization.organizationid}">Update information</a>
<a href="/account/organizations/create-invitation?organizationid=${organization.organizationid}">Create invitation</a>
<a href="/account/organizations/transfer-organization?organizationid=${organization.organizationid}">Transfer ownership</a>
<a href="/account/organizations/delete-organization?organizationid=${organization.organizationid}">Delete organization</a>