<a href="/home">Home</a>
<a href="/account/organizations/organizations">My organizations</a>
<a href="/account/organizations/invitation?invitationid=${invitation.invitationid}">Invitation</a>
<a href="/account/organizations/delete-invitation?invitationid=${invitation.invitationid}">Delete invitation</a>
