<a href="/home">Home</a>
<a href="/account/organizations">My organizations</a>
<a href="/account/organizations/membership?membershipid=${membership.membershipid}">Membership</a>
<a href="/account/organizations/edit-membership?membershipid=${membership.membershipid}">Update information</a>
<a href="/account/organizations/delete-membership?membershipid=${membership.membershipid}">Delete</a>
<a href="/account/organizations/revoke-membership?membershipid=${membership.membershipid}">Revoke</a>
